---

import MainGridLayout from '../layouts/MainGridLayout.astro'

import { getEntry } from 'astro:content'
import { i18n } from '../i18n/translation'
import I18nKey from '../i18n/i18nKey'
import Markdown from '@components/misc/Markdown.astro'
import TechStack from '@components/widget/techStack.astro'
import DayCounter from '@components/misc/DayCounter.astro'

const aboutPost = await getEntry('spec', 'about')

const { Content } = await aboutPost.render()
---
<MainGridLayout title={i18n(I18nKey.about)} description={i18n(I18nKey.about)}>
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <Markdown class="mt-2">
                <Content />
            </Markdown>
<DayCounter/>
            <TechStack />
            <div class="mt-2 hidden lg:flex justify-center space-x-4">
                <a href="https://github.com/denvercoder1/github-readme-streak-stats" title="Go to Source">
                    <img class="align-left" width=390 src="https://github-readme-streak-stats.herokuapp.com/?user=ayoub3bidi&theme=react&hide_border=true" alt="" />
                </a>
                <a href="https://github.com/anuraghazra/github-readme-stats" title="Go to Source">
                    <img class="align-right" width=390 src="https://github-readme-stats.vercel.app/api?username=ayoub3bidi&show_icons=true&theme=react&hide_border=true" />
                </a>
            </div>            
        </div>
    </div>
</MainGridLayout>