---

import MainGridLayout from '../layouts/MainGridLayout.astro'

import { getEntry } from 'astro:content'
import { i18n } from '../i18n/translation'
import I18nKey from '../i18n/i18nKey'
import Markdown from '@components/misc/Markdown.astro'
import CollaborationModes from '@components/CollaborationModes.astro'

const collaborationPost = await getEntry('spec', 'collaboration')

const { Content } = await collaborationPost.render()
---
<MainGridLayout title={i18n(I18nKey.collaboration)} description={i18n(I18nKey.collaboration)}>
    <div class="flex flex-col gap-8 w-full">
        <!-- Intro Section -->
        <div class="card-base px-9 py-6">
            <Markdown class="mt-2">
                <Content />
            </Markdown>
        </div>

        <!-- Collaboration Modes Section -->
        <div>
            <h2 class="mb-6 text-2xl font-bold text-neutral-900 dark:text-neutral-50">
                Modes of Collaboration
            </h2>
            <CollaborationModes />
        </div>
    </div>
</MainGridLayout>